site_name: '${{ values.name }}'
site_description: '${{ values.description }}'

nav:
  - Home: index.md
  - Getting Started: getting-started.md
  - API Reference: api.md
  - Development: development.md

theme:
  name: material
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.top
    - search.suggest
    - search.highlight
  palette:
    - scheme: default
      primary: indigo
      accent: amber

plugins:
  - search

markdown_extensions:
  - admonition
  - attr_list
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tabbed
