# This file is a template, and might need editing before it works on your project.
# Official image for Hashicorp's Terraform. It uses light image which is Alpine
# based as it is much lighter.
#
# Entrypoint is also needed as image by default set `terraform` binary as an
# entrypoint.
image:
  name: hashicorp/terraform:light
  entrypoint:
    - '/usr/bin/env'
    - 'PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin'

# Default output file for Terraform plan
variables:
  PLAN: plan.tfplan

cache:
  paths:
    - .terraform

before_script:
  - rm -rf .terraform
  - terraform --version
  - cd infra/platform/k8s-eks/
  - terraform init

stages:
  - validate
#  - build
#  - test
  - deploy
  - destroy

validate:
  stage: validate
  script:
    - terraform validate
    - terraform fmt

# plan:
#  stage: build
#  script:
#    - terraform plan -out=$PLAN
#  artifacts:
#    name: plan
#    paths:
#      - $PLAN

# Separate apply job for manual launching Terraform as it can be destructive
# action.
apply:
  stage: deploy
  environment:
    name: production
  script:
#    - terraform apply -input=false $PLAN
    - terraform apply -input=false  --auto-approve
#  dependencies:
#    - plan
#  when: manual
  only:
    - master

    # Separate apply job for manual launching Terraform as it can be destructive
# action.
destroy:
  stage: destroy
  environment:
    name: production
  script:
#    - terraform apply -input=false $PLAN
    - terraform destroy -input=false  --auto-approve
#  dependencies:
#    - plan
  when: manual
  only:
    - master
