**/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
**/.classpath
.factorypath
**/.project
**/.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### vagrant  
**/.vagrant

### chef and berkshelf
infra/platform/k8s-eks/.terraform/**

infra/platform/k8s-eks/terraform.tfstate.backup
infra/platform/k8s-eks/terraform.tfstate
infra/platform/k8s-eks/.terraform.tfstate.lock.info
infra/platform/k8s-eks/aws-iam-authenticator.exe
infra/platform/k8s-eks/config-map-aws-auth_k8s-ScCeKkhi.yaml
infra/platform/k8s-eks/kubeconfig_k8s-ScCeKkhi
