**/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
**/.classpath
.factorypath
**/.project
**/.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### vagrant  
**/.vagrant

### chef and berkshelf
infra/platform/k8s-eks/.terraform/**

infra/platform/k8s-eks/terraform.tfstate.backup
infra/platform/k8s-eks/terraform.tfstate
infra/platform/k8s-eks/.terraform.tfstate.lock.info
infra/platform/k8s-eks/aws-iam-authenticator.exe
infra/platform/k8s-eks/config-map-aws-auth_k8s-*.yaml
infra/platform/k8s-eks/kubeconfig_k8s-*


# Test Kitchen
.kitchen/

# Vagrant
Vagrantfile
.vagrant/

# Kitchen Tests lock files and chef data
kitchen-tests/nodes/*
kitchen-tests/Gemfile.lock
kitchen-tests/Berksfile.lock

# Temporary files present during spec runs
spec/data/test-dir
spec/data/nodes
spec/data/chef_guid
/config/

vendor/
kitchen-tests/vendor

# Visual Studio Code files
.vscode

# ignore nodes generated during local testing
nodes/
infra/platform/k8s-eks/aws-iam-authenticator
infra/workspace/choco-versions.txt
infra/workspace/brew-versions.txt
