boto3==1.35.76
botocore==1.35.76
google-cloud-container==2.53.0
google-cloud-sql-connector==1.14.1
google-cloud-storage==2.19.0
google-cloud-monitoring==2.24.0
google-cloud-billing==1.14.0
google-auth==2.36.0
