apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: grafana
  namespace: fawkes
spec:
  project: default
  source:
    repoURL: https://grafana.github.io/helm-charts/
    chart: grafana
    targetRevision: latest
    helm:
      values: |
        service:
          type: ClusterIP
        ingress:
          enabled: true
          ingressClassName: nginx
          hosts:
            - grafana.127.0.0.1.nip.io
        adminUser: admin
        adminPassword: fawkesidp
  destination:
    server: https://kubernetes.default.svc
    namespace: grafana
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
