apiVersion: v1
kind: LimitRange
metadata:
  name: fawkes-default-limits
  namespace: fawkes
spec:
  limits:
    - type: Container
      default:
        cpu: 500m
        memory: 512Mi
      defaultRequest:
        cpu: 50m
        memory: 128Mi
---
apiVersion: v1
kind: ResourceQuota
metadata:
  name: fawkes-namespace-quota
  namespace: fawkes
spec:
  hard:
    pods: "30"
    requests.cpu: "4"
    requests.memory: 4Gi
    limits.cpu: "8"
    limits.memory: 8Gi
    services: "50"
    configmaps: "50"
    secrets: "100"