flask==3.1.3
opentelemetry-api==1.28.2
opentelemetry-sdk==1.28.2
opentelemetry-exporter-otlp-proto-grpc==1.28.2
opentelemetry-instrumentation-flask==0.49b2
opentelemetry-instrumentation-requests==0.49b2
protobuf>=5.29.6,<6.0
