server:
  service:
    type: ClusterIP

# Optional: enable admin initial password secret (default behavior creates argocd-initial-admin-secret)
configs:
  cm:
    application.instanceLabelKey: "argocd.argoproj.io/instance"
