apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: C:\ProgramData\chocolatey\lib\kubernetes-kompose\tools\kompose.exe
      convert
    kompose.version: 1.18.0 (06a2e56)
  creationTimestamp: null
  labels:
    io.kompose.service: gitlab-scm-collector
  name: gitlab-scm-collector
spec:
  replicas: 1
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        io.kompose.service: gitlab-scm-collector
    spec:
      containers:
      - env:
        - name: TEST_SCRIPT
          value: fixme
        - name: GITLAB_API_TOKEN
          value: dWwck8kJ9LyycG2gV8iJ
        - name: GITLAB_CRON
          value: 0 0/5 * * * *
        - name: MONGO_PORT
          value: tcp://db:27017
        image: paruff/hygieia-gitlab-scm-collector:3.0.2.486
        name: gitlab-scm-collector
        resources: {}
      restartPolicy: Always
status: {}
